@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.wrapper, html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
  font-family: 'Abel', sans-serif;
  font-size: 48px;
  line-height: 50px;
  margin: 0;
  margin-right: 10px;
  margin-left: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.matrix {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#world {
  flex: 1
}

button {
  background-color: transparent;
  background-image: url(chevron.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: transparent;
  border: none;
  height: 50px;
  outline: none;
  margin-right: 5px;
}

button:hover {
  transform: scale(1.2);
}

#back {
  transform: rotate(180deg);
}
#back:hover{
  transform: rotate(180deg) scale(1.2);
}

.grid {
  border: 1px solid #ccc;
  border-width: 1px 0 0 1px;
  width: 550;
  height: 550;
}

.grid div {
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    height: 24;
    width: 24;
    float: left;
}

.grid div.alive {
  background-color: #000;
}
