@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.wrapper, html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
  font-family: 'Abel', sans-serif;
  font-size: 48px;
  line-height: 50px;
  margin: 0;
  margin-right: 5px;
  margin-left: 10px;
  outline: none;
}

h2 {
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  line-height: 25px;
  margin: 0;
  margin-right: 10px;
  margin-left: 10px;
  outline: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.matrix {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#world {
  flex: 1
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: transparent;
  border: none;
  height: 50px;
  outline: none;
  margin: 0;
  transform: scale(0.8);
}

button:hover {
  transform: scale(1.2);
}


#back {
  background-image: url(left.svg);
  transform: scale(0.7);
}
#back:hover {
  transform: scale(1.1);
}

#pause {
  background-image: url(pause.svg);
}

#play {
  margin-left: 10px;
  background-image: url(play.svg);
}

#stop {
  margin-right: 10px;
  background-image: url(stop.svg);
}

#forward {
  background-image: url(right.svg);
  margin-left: -10px;
  transform: scale(0.7);
}

#forward:hover {
  transform: scale(1.1);
}

.grid {
  border: 1px solid #ccc;
  border-width: 1px 0 0 1px;
  width: 550;
  height: 550;
}

.grid div {
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    height: 24;
    width: 24;
    float: left;
}

.grid div.alive {
  background-color: #000;
}
